/* REMOVE DECORATION FROM LINKS */
a {
    text-decoration: none !important;
}

.no-link-color {
    color: inherit;
}

/* NAVBAR */
.navbar {
    background-color: #eca36c !important;
}

/* links */
.navbar-nav .nav-link {
    color: #966c80 !important;
}

/* hover on links */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: white !important;
}

/* brand/logo */
.navbar-brand {
    color: #e460a0 !important;
}

h5 {
    color: #966C80;
}


/* MAIN CONTENT */
/* custom left section */
.custom-left-section {
    background-color: #966C80 !important;
    color: #fff;
    padding: 2rem;
}

.custom-left-section h3 {
    font-size: 2rem;
    font-weight: bold;
}

.custom-left-section p {
    font-size: 1.3rem;
    line-height: 1.5;
}

/* CARDS */
.card {
    overflow: hidden;
}

.card-container {
    overflow: hidden;
}

.card:hover {
    border: 2px solid #966C80;
    /* new border color on hover */
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.2);
}



/* FOOTER */
/* footer background*/
.footer {
    background-color: #eca36c !important;
}

/* footer icons*/
.footer a {
    color: #966C80;
}

/* hover on links */
.footer a:hover {
    background-color: #966C80 !important;
    color: #96BDA8;
}

#copyrightLink {
    text-decoration: none;
}



/*LOGIN PAGE*/
.bg-body {
    background-color: #f5e4cf !important;
}

/* LOGIN FORM */
.login-form {
    min-height: 100vh;
}

.bg-login {
    background-color: rgb(238, 236, 229) !important;
    color: #966C80;
}

#btn-Login {
    background-color: #966C80 !important;
    color: #96BDA8;
}

#btn-Login:hover {
    color: #966C80;
    background-color: #96BDA8 !important;
}

#btn-Cancel {
    background-color: #cacaca !important;
    color: #557e68;
}

#btn-Cancel:hover {
    background-color: #96BDA8 !important;
    color: #966C80;
}

::placeholder {
    color: #bdbaba !important;
}

/* signup icons*/
.signup-icon {
    color: #966C80;
}

/* hover on links */
.signup-icon:hover {
    background-color: #966C80 !important;
    color: #96BDA8;
}

/* password visibility button */
.visibility-icon {
    color: #966C80;
}

.visibility-icon:hover {
    color: #96BDA8;
}

/* switch color on active */
#togglePassword.active {
    color: #96BDA8 !important;
}

/* the following style is to remove an visual artifact tha was apearing whn the password visibility button was clicked */
#togglePassword::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    /* or the background color of your button */
}

/* the following style is to make the icon appear on top of the password visibility button */
#togglePassword i {
    position: relative;
    z-index: 1;
}

/* SIGNUP PAGE */
/* form-check - gender choice */
.form-check-input {
    background-color: #fff;
    border-color: #966C80;
}

.form-check-input:checked {
    background-color: #966C80;
    border-color: #96BDA8;
}