/* REMOVE DECORATION FROM LINKS */
:root {
    --main-color: #966C80;
    --secondary-color: #eca36c;
    --terciary-color: #96BDA8;
    --background-color-main: #fff;
}

a {
    text-decoration: none !important;
}

.no-link-color {
    color: inherit;
}

/* NAVBAR */
.navbar {
    background-color: var(--secondary-color) !important;
}

.logo {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    filter: invert(49%) sepia(11%) saturate(927%) hue-rotate(279deg) brightness(92%) contrast(92%); /* Change the color using css filter */
}

/* links */
.navbar-nav .nav-link {
    color: var(--main-color) !important;
}

/* hover on links */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--background-color-main) !important;
}

/* brand/logo */
.navbar-brand {
    color: #e460a0 !important;
}

h5 {
    color: var(--main-color);
}


/* MAIN CONTENT */
/* custom left section */
.custom-left-section {
    background-color: var(--main-color) !important;
    color: var(--background-color-main);
    padding: 2rem;
}

.custom-left-section h3 {
    font-size: 2rem;
    font-weight: bold;
}

.custom-left-section p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax var(--main-color);
    clip-path: inset(0 0 0 -100vmax);
}

/* CARDS */
.card {
    overflow: hidden;
}

.card-container {
    overflow: hidden;
}

.card:hover {
    border: 2px solid var(--main-color);
    /* new border color on hover */
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.2);
}



/* FOOTER */
/* footer background*/
.footer {
    background-color: var(--secondary-color) !important;
}

/* footer icons*/
.footer a {
    color: var(--main-color);
}

/* hover on links */
.footer a:hover {
    background-color: var(--main-color) !important;
    color: var(--terciary-color);
}

#copyrightLink {
    text-decoration: none;
}



/*LOGIN PAGE*/
.bg-body {
    background-color: #f5e4cf !important;
}

/* LOGIN FORM */
.login-form {
    min-height: 100vh;
}

.bg-login {
    background-color: rgb(238, 236, 229) !important;
    color: var(--main-color);
}

#btn-Login {
    background-color: var(--main-color) !important;
    color: var(--terciary-color);
}

#btn-Login:hover {
    color: var(--main-color);
    background-color: var(--terciary-color) !important;
}

#btn-Cancel {
    background-color: #cacaca !important;
    color: #557e68;
}

#btn-Cancel:hover {
    background-color: var(--terciary-color) !important;
    color: var(--main-color);
}

::placeholder {
    color: #bdbaba !important;
}

/* signup icons*/
.signup-icon {
    color: var(--main-color);
}

/* hover on links */
.signup-icon:hover {
    background-color: var(--main-color) !important;
    color: var(--terciary-color);
}

/* password visibility button */
.visibility-icon {
    color: var(--main-color);
}

.visibility-icon:hover {
    color: var(--terciary-color);
}

/* switch color on active */
#togglePassword.active {
    color: var(--terciary-color) !important;
}

/* the following style is to remove an visual artifact tha was apearing whn the password visibility button was clicked */
#togglePassword::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color-main);
    /* or the background color of your button */
}

/* the following style is to make the icon appear on top of the password visibility button */
#togglePassword i {
    position: relative;
    z-index: 1;
}

/* SIGNUP PAGE */
/* form-check - gender choice */
.form-check-input {
    background-color: var(--background-color-main);
    border-color: var(--main-color);
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--terciary-color);
}

.justify-text {
    text-align: justify;
}

/* OVERRIDES */
.btn-primary {
    background-color: var(--main-color) !important;
    color: var(--terciary-color);
    border: none;
}
.btn-primary:hover {
    color: var(--main-color);
    background-color: var(--terciary-color) !important;
}
